header{
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    font-size: 50px;
    color: rgb(134, 26, 26);
}

body{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    background-color: linen;
}

input{
    padding: 10px;
    font-size: 16px;
    width: 250px;
}
textarea
{
    padding: 10px;
    font-size: 16px;
    width: 250px;
}
button {
    padding: 10px;
    background-color: rgb(134, 26, 26);
    color: white;
    border: rgb(0, 0, 0);
    cursor: pointer;
}

button:hover {
    padding: 15px;
    color: black;
    border: black;
}