* {
    font-family: 'Segoe UI', sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: url(bg1.jpg);
    background-size: cover;
}

.header
{
    position: relative;
}

.header-right {
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-left {
    background-color: rgba(0, 0, 8, 0.2);
    backdrop-filter: blur(10px);
    padding: 60px 20px 20px 20px; /* more top padding */
    text-align: center;
    position: relative;
}

.header-left h1 {
    color: white;
    font-size: 40px;
    margin: 0 0 40px 0;
    white-space: nowrap;
}


.header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.header-left .search-input {
    width: 350px;
    height: 30px;
    background: transparent;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    padding: 0 15px;
    text-align: center;
}

.search-input::placeholder {
    color: white;
}

.header-left button {
    cursor: pointer;
    color: black;
    border-radius: 40px;
    background: #ffff01;
    border: none;
    width: 200px;
    height: 40px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
    font-size: medium;
}

.header-right button
{
    cursor: pointer;
    color: black;
    border-radius: 40px;
    background: #ffff01;
    border: none;
    width: 200px;
    height: 40px;
    font-weight: 600;
    font-size: medium;

}

.folder
{
    margin: 10px;
    padding: 10px;
    background: #ffff01;
    border-radius: 6px;
    cursor: pointer;
    color: black;
}

.files
{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    background: transparent;
    backdrop-filter: blur(10px);
    cursor: pointer;
    color: white;

}

.infoBtn
{
    cursor: pointer;
    color: black;
    border-radius: 40px;
    background: #ffff01;
    border:none;
}

.h2AdminHP
{
    color: white;
}
