body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-image: url('bg1.jpg');
    background-size: cover;
    color: #fff;
}

header {
    text-align: center;
    padding: 1.5rem;
    background-color: rgba(0, 0, 8, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 1.5rem;
}

form {
    max-width: 500px;
    margin: 2rem auto;
    background: transparent;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(0, 0, 50, 0.4);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input[type="text"],
textarea {
    width: 100%;
    max-width: 500px; 
    margin-left: auto; 
    margin-right: auto;
    display: block;
    padding: 0.5rem;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    box-sizing: border-box; 
}

input[type="file"] {
    display: none;
}

label[for="file"] {
    display: inline-block;
    background-color: #fff;
    color: #0b1d3a ;
    font-weight: normal;
    padding: 0.5rem 2rem;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 1rem;
}

output {
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    color: #fff;
    vertical-align: middle;
}

button {
    background-color: #ffff01;
    color: #0b1d3a ;
    border: none;
    width: 100%;
    margin: 0;
    padding: 0.65rem 2rem;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6b800;
}

.back-button {
    position: absolute; 
    top: 15px;
    left: 15px;
    width: auto; 
    background: rgba(255, 255, 255, 0.8);
    color: #0b1d3a;
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 16px;
    font-weight: normal;
    cursor: pointer;
    text-decoration: none;
    transition: background 0.3s;
    z-index: 1000;
}

.back-button:hover {
    background: #ffff01;
}
